<h1> Entries </h1>
<%= form_for [@project, @entry] do |f| %>
      <%= f.label :hours %>
      <%= f.text_field :hours %>
      <br>
      <%= f.label :minutes %>
      <%= f.text_field :minutes %>
      <br>
      <%= f.label :date %>
      <%= f.date_field :date %>
      <br>
      <%= f.label :comments %>
      <%= f.text_area :comments %>
      <br>
      <%= f.submit 'Save' %>
    <% end %>