<h1> Listfile </h1>


<h3>Description</h3>

<% @projects.each do |pj| %>
	<% if pj.description.nil?%>
		<p><%=pj.name%> - </p>
		<%else%>
		<p><%=pj.name%> <%=pj.description %></p>
	<%end%>
<%end%>


<br>
<br>
<form>


<h3>4 Lastprojects</h3>
<% @lastprojects.each do |pj| %>
	<% if pj.description.nil?%>
		<p><%=pj.name%> - </p>
		<%else%>
		<p><%=pj.name%> <%=pj.description %></p>
	<%end%>
<%end%>

